MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=gowsik_portfolio
MONGODB_COLLECTION=messages
RESEND_API_KEY=your_resend_api_key_optional
CONTACT_EMAIL_TO=gowsikbabubabu@gmail.com
